<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#acquiremvp">Acquire-MVP</a></li>
<li><a href='#preparemvp'>Prepare-MVP</a></li>
<li><a href="#acquire1">Acquire-V1</a></li>
<li><a href='#prepare1'>Prepare-V1</a></li>
<li><a href='#extra'>Extra</a></li>

<a id="imports"></a>
# Imports:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Vectorization and tables
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Stats
from scipy import stats

# .py files
import wrangle

<a id="acquiremvp"></a>
# Acquire-MVP:
<li><a href='#TableOfContents'>Table of Contents</a></li>

Acquire everything from the vanilla zillow database via SQL query and connection

- Vanilla shape:
    - Rows: 52,441
    - Columns: 69

In [2]:
zillow = wrangle.acquire()
zillow.shape

(52441, 69)

<a id="preparemvp"></a>
# Prepare-MVP:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### List o' column determinations:
- Drop Columns:
    - 'typeconstructiontypeid'
        - 67.5% Nulls
        - ID unnecessary
    - 'storytypeid'
        - 67.5% Nulls
        - ID unnecessary
    - 'propertylandusetypeid'
        - 00.0% Nulls
        - ID unnecessary
    - 'heatingorsystemtypeid'
        - 23.8% Nulls
        - ID unnecessary
    - 'buildingclasstypeid'
        - 67.6% Nulls
        - ID unnecessary
    - 'architecturalstyletypeid'
        - 67.5% Nulls
        - ID unnecessary
    - 'airconditioningtypeid'
        - 50.0% Nulls
        - ID unnecessary
    - 'parcelid'
        - 00.0% Nulls
        - ID unnecessary
    - 'logerror'
        - 00.0% Nulls
        - Appears unnecessary
    - 'transactiondate'
        - 00.0% Nulls
        - Appears useless
    - 'id'
        - 00.0% Nulls
        - ID unnecessary
    - 'basementsqft'
        - 67.5% Nulls
        - Too many nulls
    - 'buildingqualitytypeid'
        - 24.1% Nulls
        - ID unnecessary
    - 'calculatedbathnbr'
        - 00.2% Nulls
        - Repeats 'bathroomcnt'
    - 'decktypeid'
        - 67.1% Nulls
        - ID unnecessary
    - 'finishedfloor1squarefeet'
        - 61.9% Nulls
        - Too many nulls
    - 'finishedsquarefeet12'
        - 00.3% Nulls
        - Repeats 'calculatedfinishedsquarefeet'
    - 'finishedsquarefeet13'
        - 67.6% Nulls
        - Too many nulls
    - 'finishedsquarefeet15'
        - 67.6% Nulls
        - Too many nulls
    - 'finishedsquarefeet50'
        - 61.9% Nulls
        - Too many nulls
    - 'finishedsquarefeet6'
        - 67.4% Nulls
        - Too many nulls
    - 'fireplacecnt'
        - 58.2% Nulls
        - Too many nulls
    - 'bathroomcnt'
        - 00.0% Nulls
        - Using 'fullbathcnt'
    - 'garagecarcnt'
        - 44.4% Nulls
        - Too many nulls
    - 'garagetotalsqft'
        - 44.4% Nulls
        - Too many nulls
    - 'hashottuborspa'
        - 65.6% Nulls
        - Too many nulls
    - 'latitude'
        - 00.0% Nulls
        - Unnecessary for now
    - 'longitude'
        - 00.0% Nulls
        - Unnecessary for now
    - 'poolcnt'
        - 53.3% Nulls
        - Too many nulls
    - 'poolsizesum'
        - 66.5% Nulls
        - Too many nulls
    - 'pooltypeid10'
        - 67.0% Nulls
        - Too many nulls
    - 'pooltypeid2'
        - 66.2% Nulls
        - Too many nulls
    - 'pooltypeid7'
        - 54.7% Nulls
        - Too many nulls
    - 'propertycountylandusecode'
        - 00.0% Nulls
        - ID unnecessary
    - 'propertyzoningdesc'
        - 24.0% Nulls
        - Unsure of value
    - 'rawcensustractandblock'
        - 00.0% Nulls
        - 'censustractandblock' has more info
    - 'regionidcity'
        - 01.3% Nulls
        - Appears to be useless
    - 'regionidcounty'
        - 00.0% Nulls
        - Unnecessary for now
    - 'regionidneighborhood'
        - 43.0% Nulls
        - Too many nulls
    - 'regionidzip'
        - 00.0% Nulls
        - Zipcodes do not match fips codes
    - 'roomcnt'
        - 00.0% Nulls
        - Numbers don't seem to relate to rest of data
    - 'threequarterbathnbr'
        - 58.9% Nulls
        - Too many nulls
    - 'unitcnt'
        - 24.0% Nulls
        - Appears unnecessary
    - 'yardbuildingsqft17'
        - 65.1% Nulls
        - Too many nulls
    - 'yardbuildingsqft26'
        - 67.5% Nulls
        - Too many nulls
    - 'numberofstories'
        - 48.8% Nulls
        - Too many nulls
    - 'fireplaceflag'
        - 67.5% Nulls
        - Too many nulls
    - 'structuretaxvaluedollarcnt'
        - 00.1% Nulls
        - Per instructions
    - 'assessmentyear'
        - 00.0% Nulls
        - All in 2016, unnecessary
    - 'landtaxvaluedollarcnt'
        - 00.0% Nulls
        - Per instructions
    - 'taxamount'
        - 00.0% Nulls
        - Per instructions
    - 'taxdelinquencyflag'
        - 64.9% Nulls
        - Too many nulls
    - 'taxdelinquencyyear'
        - 64.9% Nulls
        - Too many nulls
    - 'censustractandblock'
        - 00.2% Nulls
        - Unnecessary for now
    - 'heatingorsystemdesc'
        - Appears useless
    - 'airconditioningdesc'
        - 50.0% Nulls
        - Too many nulls
    - 'architecturalstyledesc'
        - 67.5% Nulls
        - Too many nulls
    - 'buildingclassdesc'
        - 67.6% Nulls
        - Too many nulls
    - 'storydesc'
        - 67.5% Nulls
        - Too many nulls
    - 'typeconstructiondesc'
        - 67.5% Nulls
        - Too many nulls
    - 'propertylandusedesc'
        - 00.0% Nulls
        - Unnecessary due to SQL query
- Fix columns:
    - 'bedroomcnt'
        - 'bedroomcnt' ==> 'bedrooms'
    - 'calculatedfinishedsquarefeet'
        - Fill null with mean
        - 'calculatedfinishedsquarefeet' ==> 'home_sqft'
    - 'fips'
        - 'fips' ==> 'county'
        - '6037' ==> 'Los Angeles'
        - '6059' ==> 'Orange'
        - '6111' ==> 'Ventura'
    - 'fullbathcnt'
        - Fill null with mode
        - 'fullbathcnt' ==> 'full_bathrooms'
        - dtype ==> int
    - 'lotsizesquarefeet'
        - Fill nulls with mean
        - 'lotsizesquarefeet' ==> 'lot_sqft'
    - 'yearbuilt'
        - Fill nulls with mode
        - Find diff to 2017
        - Change values to diff
        - 'yearbuilt' ==> 'home_age'
        - dtype ==> int
    - 'taxvaluedollarcnt'
        - Fill nulls with mean
        - 'taxvaluedollarcnt' ==> 'value'
- Create columns:
    - 'home_lot_ratio'
        - 'home_sqft' / 'lot_sqft'

In [3]:
# Drop columns
zillow = zillow.drop(columns= [
    'typeconstructiontypeid',
    'storytypeid',
    'propertylandusetypeid',
    'heatingorsystemtypeid',
    'buildingclasstypeid',
    'architecturalstyletypeid',
    'airconditioningtypeid',
    'parcelid',
    'logerror',
    'transactiondate',
    'id',
    'basementsqft',
    'buildingqualitytypeid',
    'calculatedbathnbr',
    'decktypeid',
    'finishedfloor1squarefeet',
    'finishedsquarefeet12',
    'finishedsquarefeet13',
    'finishedsquarefeet15',
    'finishedsquarefeet50',
    'finishedsquarefeet6',
    'fireplacecnt',
    'bathroomcnt',
    'garagecarcnt',
    'garagetotalsqft',
    'hashottuborspa',
    'latitude',
    'longitude',
    'poolcnt',
    'poolsizesum',
    'pooltypeid10',
    'pooltypeid2',
    'pooltypeid7',
    'propertycountylandusecode',
    'propertyzoningdesc',
    'rawcensustractandblock',
    'regionidcity',
    'regionidcounty',
    'regionidzip',
    'regionidneighborhood',
    'roomcnt',
    'threequarterbathnbr',
    'unitcnt',
    'yardbuildingsqft17',
    'yardbuildingsqft26',
    'numberofstories',
    'fireplaceflag',
    'structuretaxvaluedollarcnt',
    'assessmentyear',
    'landtaxvaluedollarcnt',
    'taxamount',
    'taxdelinquencyflag',
    'taxdelinquencyyear',
    'censustractandblock',
    'heatingorsystemdesc',
    'airconditioningdesc',
    'architecturalstyledesc',
    'buildingclassdesc',
    'storydesc',
    'typeconstructiondesc',
    'propertylandusedesc'
])

In [4]:
# Fill nulls in remaining columns

# calculatedfinishedsquarefeet
# Fill na with mean = 1922.89
# Leave as float, but filled values are the only floats (ONLY FLOAT)
zillow.calculatedfinishedsquarefeet = zillow.calculatedfinishedsquarefeet.fillna(1922.89)

# fullbathcount
# Fill na with mode = 2.0 
# Change to int type (NO FLOATS)
zillow.fullbathcnt = zillow.fullbathcnt.fillna(2.0).astype(int)

# lotsizesquarefeet
# Fill na with mean = 11339.62
# Leave as float type (HAS FLOATS)
zillow.lotsizesquarefeet = zillow.lotsizesquarefeet.fillna(11339.62)

# yearbuilt
# Fill na with mode = 1955 
# Change to int type (NO FLOATS)
zillow.yearbuilt = zillow.yearbuilt.fillna(1955).astype(int)

# taxvaluedollarcnt
# Fill na with mean = 529688.16
# Leave as float, filled values are the only floats (ONLY FLOAT)
zillow.taxvaluedollarcnt = zillow.taxvaluedollarcnt.fillna(529688.16)

In [5]:
# Fix remaining columns

# fips 
# 6037 ==> Los Angeles
# 6059 ==> Orange
# 6111 ==> Ventura
# Ensure object type
conditions = [
    zillow.fips == 6037,
    zillow.fips == 6059,
    zillow.fips == 6111
]

choices = [
    'Los Angeles',
    'Orange',
    'Ventura'
]

zillow.fips = np.select(conditions, choices)

# yearbuilt
# Get difference of year to 2017
zillow.yearbuilt = 2017 - zillow.yearbuilt

In [6]:
# Rename remaining columns

zillow = zillow.rename(columns={
    'bedroomcnt' : 'bedrooms',
    'calculatedfinishedsquarefeet' : 'home_sqft',
    'fips' : 'county',
    'fullbathcnt' : 'full_bathrooms',
    'lotsizesquarefeet' : 'lotsize_sqft',
    'yearbuilt' : 'home_age',
    'taxvaluedollarcnt' : 'value'
})

In [7]:
# Create columns

# Ratio of home size to lot size
zillow['home_lot_ratio'] = round(zillow.home_sqft / zillow.lotsize_sqft, 2)

In [8]:
zillow.shape

(52441, 8)

In [9]:
# Test .py file functionality
train, validate, test = wrangle.wrangle_zillow_mvp()
train.sample()

train.shape:(29366, 10)
validate.shape:(12586, 10)
test.shape:(10489, 10)

,bedrooms,home_sqft,full_bathrooms,lotsize_sqft,home_age,value,home_lot_ratio,county_Los Angeles,county_Orange,county_Ventura
50066,3.0,1344.0,2,6013.0,64,583000.0,0.22,1,0,0

- Prepped shape:
    - Rows: 52,441
    - Columns: 10

<a id="acquire1"></a>
# Acquire-V1:
<li><a href='#TableOfContents'>Table of Contents</a></li>

<a id="prepare1"></a>
# Prepare-V1:
<li><a href='#TableOfContents'>Table of Contents</a></li>

<a id="extra"></a>
# Extra:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [11]:
train

,bedrooms,home_sqft,full_bathrooms,lotsize_sqft,home_age,value,home_lot_ratio,county_Los Angeles,county_Orange,county_Ventura
18156,3.0,2444.0,1,10200.0,76,689354.0,0.24,0,1,0
45174,4.0,2463.0,3,22944.0,38,370603.0,0.11,1,0,0
21005,3.0,1032.0,1,6566.0,111,431481.0,0.16,1,0,0
27537,3.0,1408.0,2,5852.0,65,112506.0,0.24,1,0,0
21375,3.0,1680.0,2,7500.0,47,540921.0,0.22,0,1,0
...,...,...,...,...,...,...,...,...,...,...
3254,4.0,2287.0,2,6000.0,54,780176.0,0.38,0,1,0
44078,3.0,1196.0,2,6120.0,62,469000.0,0.20,0,1,0
30811,3.0,1120.0,2,2852.0,23,163556.0,0.39,1,0,0
27399,3.0,1092.0,1,5052.0,67,164560.0,0.22,1,0,0
1835,3.0,1324.0,2,11565.0,54,518089.0,0.11,1,0,0

In [13]:
train.dtypes

bedrooms              float64
home_sqft             float64
full_bathrooms          int64
lotsize_sqft          float64
home_age                int64
value                 float64
home_lot_ratio        float64
county_Los Angeles      uint8
county_Orange           uint8
county_Ventura          uint8
dtype: object